body {
  margin: 0;
  font-family: Helvetica, serif;
  color: #4c4c4c;
  background-color: #F2F2F2;
}

a {
  color: black;
  text-decoration: none;
}

input {
  outline: none;
}

button {
  outline: none;
}

.undefined.react-stars {
  outline: none;
}